:root{
    --primary-color: #121212a6;
    --white-color: #ffff;
    --black-color: #0e0e0e;
    --ligth-gray-color:#a39e9e70;
    --gap:3rem;
    --secondary-color: rgba(30, 58, 182, 0.726);
    --color-nav:#f0f0f8;
}