:root{
    --primary-color: #121212a6;
    --white-color: #ffff;
    --black-color: #0e0e0e;
    --ligth-gray-color:#eeee;
    --gap:3rem;
    --secondary-color: rgba(197, 83, 30, 0.877);
    --color-nav:#f0f0f8;
}